@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Regular.eot");
  src: local("./../fonts/Gilroy Regular"), local("./../fonts/Gilroy-Regular"), url("./../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Regular.woff2") format("woff2"), url("./../fonts/Gilroy-Regular.woff") format("woff"), url("./../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Bold.eot");
  src: local("./../fonts/Gilroy Bold"), local("./../fonts/Gilroy-Bold"), url("./../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Bold.woff2") format("woff2"), url("./../fonts/Gilroy-Bold.woff") format("woff"), url("./../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Black.eot");
  src: local("./../fonts/Gilroy Black"), local("./../fonts/Gilroy-Black"), url("./../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Black.woff2") format("woff2"), url("./../fonts/Gilroy-Black.woff") format("woff"), url("./../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Light.eot");
  src: local("./../fonts/Gilroy Light"), local("./../fonts/Gilroy-Light"), url("./../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Light.woff2") format("woff2"), url("./../fonts/Gilroy-Light.woff") format("woff"), url("./../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Semibold.eot");
  src: local("./../fonts/Gilroy Semibold"), local("./../fonts/Gilroy-Semibold"), url("./../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Semibold.woff2") format("woff2"), url("./../fonts/Gilroy-Semibold.woff") format("woff"), url("./../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Medium.eot");
  src: local("./../fonts/Gilroy Medium"), local("./../fonts/Gilroy-Medium"), url("./../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Medium.woff2") format("woff2"), url("./../fonts/Gilroy-Medium.woff") format("woff"), url("./../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-UltraLight.eot");
  src: local("./../fonts/Gilroy UltraLight"), local("./../fonts/Gilroy-UltraLight"), url("./../fonts/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("./../fonts/Gilroy-UltraLight.woff") format("woff"), url("./../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Extrabold.eot");
  src: local("./../fonts/Gilroy Extrabold"), local("./../fonts/Gilroy-Extrabold"), url("./../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("./../fonts/Gilroy-Extrabold.woff") format("woff"), url("./../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Heavy.eot");
  src: local("./../fonts/Gilroy Heavy"), local("./../fonts/Gilroy-Heavy"), url("./../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Heavy.woff2") format("woff2"), url("./../fonts/Gilroy-Heavy.woff") format("woff"), url("./../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Thin.eot");
  src: local("./../fonts/Gilroy Thin"), local("./../fonts/Gilroy-Thin"), url("./../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/Gilroy-Thin.woff2") format("woff2"), url("./../fonts/Gilroy-Thin.woff") format("woff"), url("./../fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  letter-spacing: 0.02em;
  line-height: 1.2;
  background-color: #FFFFFF;
}

body._lock {
  overflow: hidden;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Gilroy", serif;
  color: #212D55;
}

.page_mt100 {
  margin-top: 100px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  width: 325px;
  height: 56px;
  background: #31BEF4;
  -webkit-box-shadow: 0px 6px 0px #2CABDC;
          box-shadow: 0px 6px 0px #2CABDC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
}

.btn:hover {
  background: #2CABDC;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page.main {
  padding-top: 0 !important;
}

.title {
  font-weight: 400;
  font-size: 60px;
  margin: 18px auto;
}

.title_bold {
  font-weight: 700;
}

.caption {
  font-size: 32px;
  margin: 26px 0 0 0;
}

.caption_sm {
  display: none;
}

.price {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
  margin: 0 0 20px 0;
}

.subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 70px;
  color: #212D55;
  margin: 20px 0;
  text-align: center;
}

.subtitle_small {
  font-size: 40px;
  line-height: 48px;
  margin: 0;
}

.pagination__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}

.header {
  height: 800px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.75)), to(rgba(255, 255, 255, 0.75))), url("../img/header.webp");
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../img/header.webp");
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../img/header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  text-align: center;
  position: relative;
}

.header_bg {
  background: #212D55;
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

._lock .logo__menu {
  display: block;
}

._lock .logo__desk {
  display: none;
}

._lock .menu__links,
._lock .contacts {
  visibility: hidden;
}

.logo__menu {
  display: none;
}

.burger-menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

.burger-menu span {
  display: block;
  position: absolute;
  pointer-events: none;
  height: 2px;
  width: 30px;
  background: #212D55;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burger-menu span:nth-child(1) {
  -webkit-transform: translate(-50%, calc(-50% + 8px));
      -ms-transform: translate(-50%, calc(-50% + 8px));
          transform: translate(-50%, calc(-50% + 8px));
}

.burger-menu span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger-menu span:nth-child(3) {
  -webkit-transform: translate(-50%, calc(-50% - 8px));
      -ms-transform: translate(-50%, calc(-50% - 8px));
          transform: translate(-50%, calc(-50% - 8px));
}

.burger-menu-active {
  border-radius: 50%;
  background-color: #fff;
}

.burger-menu-active span {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: #31BEF4;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  width: 20px;
}

.burger-menu-active span:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.burger-menu-active span:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.burger-menu-active span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.burger-menu-active::before {
  color: #FFF;
}

.menu__links {
  margin-left: 72px;
}

.menu__links > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  margin: 15px;
  line-height: 21px;
  color: #212D55;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu__links > a:hover {
  color: #31BEF4;
}

.active-text {
  color: #31BEF4;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts_sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #FFF;
}

.contacts_sm .callme {
  color: #FFF;
}

.phone {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.callme {
  font-family: Raleway;
  border: none;
  background: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-top: 6px;
  text-decoration: underline;
  color: #212D55;
  cursor: pointer;
}

.callme:hover {
  color: #31BEF4;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-top: 1px solid #31BEF4;
  border-bottom: 1px solid #31BEF4;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.tab > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #212D55;
  margin-right: 35px;
}

.tab > a:hover {
  color: #31BEF4;
}

.tab_hidden {
  display: none;
}

.path {
  display: block;
  margin-top: 23px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.main-menu {
  margin: 20px 0;
  display: block;
  height: 100%;
}

.main-menu_hidden {
  display: none;
}

.acor-container {
  height: 100%;
}

.acor-container .acor-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  margin: 0;
  height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.5s, padding 0.5s;
  -o-transition: color 0.5s, padding 0.5s;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
}

.acor-container .acor-body a {
  text-align: right;
}

.acor-container label {
  text-align: right;
  cursor: pointer;
  display: block;
  color: #FFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}

.acor-container a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
}

.acor-container label:hover {
  color: #FFF;
}

.acor-container input:checked + label {
  color: #FFF;
}

.acor-container input:checked + label:before {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.acor-container input:checked + label + .acor-body {
  height: auto;
  color: #fff;
}

.acor-body a {
  display: block;
}

.menu-first {
  font-weight: 600;
}

.menu-second {
  font-weight: 400;
}

.menu-link {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.menu-first {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.menu-second {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

a.menu-link:hover {
  color: #31BEF4;
}

span.menu-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

span.menu-link::after {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 11px;
  height: 11px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_1873)'%3E%3Cpath d='M5.80173 8.34436L10.8755 3.25653C11.0416 3.08984 11.0413 2.81995 10.8746 2.65353C10.7079 2.48725 10.4379 2.48768 10.2716 2.65439L5.49986 7.43938L0.728113 2.65422C0.561825 2.48753 0.291961 2.4871 0.125242 2.65336C0.0416689 2.73679 -0.000119209 2.84608 -0.000119209 2.95537C-0.000119209 3.06438 0.0413895 3.17324 0.124383 3.25651L5.19801 8.34436C5.27788 8.42465 5.38659 8.4697 5.49986 8.4697C5.61312 8.4697 5.72171 8.42452 5.80173 8.34436Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_1873'%3E%3Crect width='11' height='11' fill='white' transform='translate(11) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.menu-subtitle {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
}

.acor-container > .menu-item {
  margin-bottom: 30px;
}

.acor-container > .menu-item .menu-link.open + .menu-subtitle {
  margin-top: 15px;
}

.acor-container > .menu-item .menu-link.open + .menu-subtitle .menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-link.open::after {
  -webkit-transform: translateY(-50%) scaleY(-1);
      -ms-transform: translateY(-50%) scaleY(-1);
          transform: translateY(-50%) scaleY(-1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu-link.open + .menu-subtitle {
  max-height: unset;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

._lock .main-menu {
  max-height: calc(100% - 160px);
  overflow-y: auto;
}

.swiper-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.infrastructure {
  position: relative;
}

#mapid {
  height: 663px;
  position: relative;
  margin-top: 45px;
}

.inf-swiper__container {
  position: absolute;
  z-index: 999;
  right: 190px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-top: 15px;
  height: 583px !important;
  width: 370px;
}

.inf-swiper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layers {
  position: relative;
}

.inf-navigation-group {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
  right: 10px;
  top: 0;
  z-index: 999;
}

.inf-prev {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #fff;
}

.inf-next {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #fff;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 319px;
  height: 102px !important;
  background-color: #F9FCFD;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
}

.item-active {
  background: #31BEF4;
}

.item__icon {
  width: 76px;
  height: 76px;
  -webkit-filter: drop-shadow(0px 3px 15px rgba(33, 45, 85, 0.15));
          filter: drop-shadow(0px 3px 15px rgba(33, 45, 85, 0.15));
}

.item__btn:hover {
  color: #31BEF4;
}

.item__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  pointer-events: none;
}

.leaflet-popup-content {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center !important;
  color: #31BEF4;
  margin: 0 !important;
  padding: 0;
}

.leaflet-popup-content-wrapper {
  width: 162px;
  height: 27px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.15);
          box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.15);
  border-radius: 10px;
}

.leaflet-popup-content-wrapper::before {
  height: 0;
}

.leaflet-popup-close-button {
  display: none;
}

.description_hint {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px;
}

.swiper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 573px;
  width: 100%;
}

.information {
  position: relative;
}

.info-item {
  position: absolute;
  max-width: 538px;
  height: 300px;
  bottom: 54px;
  left: 27px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
          box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-item__title {
  margin: 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.navigation-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-item__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.btn-navigation {
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.1);
          box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.1);
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_246)'%3E%3Cpath d='M2.66996 5.27883L7.75298 0.200275C7.91952 0.0339792 8.18941 0.0340034 8.35598 0.200564C8.52243 0.367103 8.52225 0.63714 8.35569 0.803564L3.57522 5.57985L8.36489 10.3471C8.53174 10.5132 8.53242 10.7831 8.36631 10.9499C8.28297 11.0336 8.17372 11.0755 8.06443 11.0756C7.95542 11.0757 7.84652 11.0343 7.76317 10.9514L2.67053 5.88256C2.59016 5.80276 2.54501 5.69409 2.5449 5.58083C2.54479 5.46756 2.58987 5.35894 2.66996 5.27883Z' fill='%23212D55'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_246'%3E%3Crect width='11' height='11' fill='white' transform='matrix(-1 0.000945159 0.000945159 1 11.0078 0.0727539)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.btn-navigation:hover {
  background: #31BEF4;
  -webkit-box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.5);
          box-shadow: 0px 3px 15px rgba(49, 190, 244, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_246)'%3E%3Cpath d='M2.66996 5.27883L7.75298 0.200275C7.91952 0.0339792 8.18941 0.0340034 8.35598 0.200564C8.52243 0.367103 8.52225 0.63714 8.35569 0.803564L3.57522 5.57985L8.36489 10.3471C8.53174 10.5132 8.53242 10.7831 8.36631 10.9499C8.28297 11.0336 8.17372 11.0755 8.06443 11.0756C7.95542 11.0757 7.84652 11.0343 7.76317 10.9514L2.67053 5.88256C2.59016 5.80276 2.54501 5.69409 2.5449 5.58083C2.54479 5.46756 2.58987 5.35894 2.66996 5.27883Z' fill='%23FFFFFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_246'%3E%3Crect width='11' height='11' fill='white' transform='matrix(-1 0.000945159 0.000945159 1 11.0078 0.0727539)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.btn-next {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  margin-left: 30px;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photosimg {
  width: 100%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 60px 0;
  width: 80%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.desc-pagination {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-right: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 193px;
  height: 102px;
  background: #F9FCFD !important;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px !important;
  margin-top: 15px;
  opacity: 1 !important;
  padding: 15px !important;
}

.desc-pagination_active > button {
  border: 1px solid #31BEF4;
}

.desc-pagination_active > button::after {
  border: 1px solid #31BEF4;
  z-index: 2;
}

.document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9FCFD;
  -webkit-box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
          box-shadow: 0px 5px 15px rgba(33, 45, 85, 0.2);
  border-radius: 10px;
  width: 263px;
  height: 101px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.document img {
  padding: 28px 11px 28px 20px;
}

.mySwiper {
  margin: 60px auto 0;
}

.document__title {
  margin: 0;
  padding: 22px 27px 22px 3px;
}

.swiper-wrapper .item:not(.swiper-slide-visible),
.swiper-slide:not(.swiper-slide-visible),
.doc_slide:not(.swiper-slide-visible) {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.doc-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px auto 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px !important;
  gap: 12px;
}

.doc-pagination__element {
  min-width: 10px;
  min-height: 10px;
  padding: 0;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #31BEF4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.doc-pagination__element-active {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 3px 15px #31BEF4);
          filter: drop-shadow(0px 3px 15px #31BEF4);
}

.doc-pagination__element-active > .doc-pagination__active-point {
  position: absolute;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #31BEF4;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 319px;
  background-color: #f9fcfd;
  -webkit-box-shadow: rgba(33, 45, 85, 0.2) 0px 5px 15px;
          box-shadow: rgba(33, 45, 85, 0.2) 0px 5px 15px;
  margin-bottom: 15px;
  position: relative;
  height: 102px !important;
  border-radius: 10px;
}

.item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  height: 72px;
  -webkit-box-shadow: rgba(33, 45, 85, 0.06) 0px 5px 19px;
          box-shadow: rgba(33, 45, 85, 0.06) 0px 5px 19px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

.item__btn_active {
  outline: #31bef4 solid 1px !important;
}

.item__btn::after,
.pagination__btn::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -10px;
  z-index: 2;
  -webkit-box-shadow: rgba(33, 45, 85, 0.06) -5px 0px 25px -11px inset;
          box-shadow: rgba(33, 45, 85, 0.06) -5px 0px 25px -11px inset;
  background-color: #f9fcfd !important;
  border-radius: 50%;
}

.item__btn::before,
.pagination__btn::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  left: -13px;
  z-index: 3;
  -webkit-box-shadow: rgba(33, 45, 85, 0.06) -5px 0px 25px -11px inset;
          box-shadow: rgba(33, 45, 85, 0.06) -5px 0px 25px -11px inset;
  background-color: #f9fcfd !important;
}

.desc-pagination_active > button::after,
.item__btn_active::after {
  z-index: 2;
  border-width: 1px;
  border-style: solid;
  border-color: #31bef4;
  -o-border-image: initial;
     border-image: initial;
}

.swiper {
  overflow: visible;
}

.desc-pagination {
  margin-right: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 193px;
  height: 102px;
  -webkit-box-shadow: rgba(33, 45, 85, 0.2) 0px 5px 15px;
          box-shadow: rgba(33, 45, 85, 0.2) 0px 5px 15px;
  margin-top: 15px;
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1 !important;
  background: #f9fcfd !important;
  border-radius: 10px !important;
  padding: 15px !important;
}

.pagination__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: calc(100% - 30px);
  height: 72px;
  -webkit-box-shadow: rgba(33, 45, 85, 0.06) 0px 5px 19px;
          box-shadow: rgba(33, 45, 85, 0.06) 0px 5px 19px;
  cursor: pointer;
  z-index: 10;
  background: white;
  border-radius: 10px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

.info-item__header {
  margin-bottom: 24px;
}

.element-animation {
  margin: 2rem 0;
  font-size: 3rem;
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

._lock .call-btn {
  display: none;
}

.call-btn {
  position: absolute;
}

.call-btn circle,
.call-btn .call-btn-path {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.call-btn:hover circle,
.call-btn:hover .call-btn-path {
  fill: #212D55;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.call-btn--1 {
  right: 230px;
  bottom: 360px;
}

.call-btn--2 {
  right: 150px;
  bottom: 250px;
}

.call-btn--3 {
  right: 230px;
  bottom: 250px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }

  .menu__links {
    display: none;
  }

  .tabs {
    display: none;
  }

  .swiper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .pagination {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .informationimg {
    width: 100%;
  }
}

@media only screen and (max-width: 1439px) {
  .swiper-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    gap: 30px;
  }

  .swiper-content .information {
    height: 553px;
    width: 100%;
  }

  .swiper-content .photos {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
}

@media (max-width: 1150px) {
  body {
    font-size: calc(14px + 2 * ((100vw - 320px) / 830));
  }
}

@media screen and (max-width: 1140px) {
  .container {
    max-width: 800px;
  }
}

@media only screen and (max-width: 1023px) {
  .call-btn {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 480px;
  }

  .contacts {
    display: none;
  }

  .description > .container {
    width: 100vw;
  }
}

@media only screen and (max-width: 767px) {
  .logo__text {
    display: none;
  }

  ._lock .main-menu {
    max-height: calc(100vh - 160px);
  }

  .swiper-content .photos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
    gap: 15px;
  }

  .swiper-content .photos picture:nth-child(3) {
    display: none;
  }

  .pagination.swiper-pagination-clickable {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }

  .header {
    position: relative;
  }

  .menu {
    padding-bottom: 40px;
  }

  .logo {
    background: url("../img/logo.webp");
    height: 79px;
    width: 100px;
  }

  .burger-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger-menu * {
    pointer-events: none;
  }

  .burger-menu::before {
    position: absolute;
    content: attr(title);
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #212D55;
    top: -5px;
    left: -60px;
  }

  .title {
    font-size: 28px;
    line-height: 40px;
    padding-top: 25px;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 28px;
    line-height: 34px;
    width: 90%;
    display: block;
    margin: 10px auto 50px;
    text-align: center;
  }

  .price {
    font-size: 24px;
    line-height: 29px;
  }

  .caption {
    font-size: 20px;
    line-height: 23px;
    padding: 20px 0 20px;
    text-align: center;
    margin: 0;
  }

  .caption_sm {
    display: block;
  }

  .price {
    margin-bottom: 30px;
  }

  .btn {
    width: 290px;
  }

  .smoke {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .inf-swiper__container {
    right: 10px;
    top: 100px;
    width: 300px;
    height: 220px !important;
    padding-bottom: 100px;
  }

  .inf-swiper {
    height: 231px !important;
  }

  .inf-navigation-group {
    top: 110%;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    gap: 30px;
  }

  .item {
    width: 290px;
  }

  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }

  .desc-pagination {
    text-align: center;
    height: 71px !important;
    margin-right: 0 !important;
  }

  .pagination__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 51px;
  }

  .info-item {
    width: 290px;
    height: 266px;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-y: auto;
    font-size: 16px;
    line-height: 19px;
  }

  .info-item__text_hidden {
    display: none;
  }

  .swiper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .doc_slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .document {
    width: 290px;
  }

  .main-menu {
    height: 100vh;
  }
}