section(class="description page_mt100")
    .container
        h2.subtitle.element-animation Описание Жилого Комплекса
        p(class="description_hint") Нажимайте 
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.65723 5.19814L7.74505 0.124392C7.91175 -0.0417463 8.18163 -0.041467 8.34805 0.125251C8.51434 0.291948 8.51391 0.561984 8.34719 0.728251L3.56221 5.50002L8.34736 10.2718C8.51406 10.4381 8.51449 10.7079 8.34822 10.8746C8.2648 10.9582 8.15551 11 8.04622 11C7.93721 11 7.82835 10.9585 7.74507 10.8755L2.65723 5.80187C2.57694 5.72199 2.53189 5.61328 2.53189 5.50002C2.53189 5.38675 2.57707 5.27817 2.65723 5.19814Z" fill="#656D89"/>
            </svg> 
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.34277 5.80186L3.25495 10.8756C3.08825 11.0417 2.81837 11.0415 2.65195 10.8747C2.48566 10.7081 2.48609 10.438 2.65281 10.2717L7.43779 5.49998L2.65264 0.728235C2.48594 0.561947 2.48551 0.292083 2.65178 0.125364C2.7352 0.041791 2.84449 2.86102e-06 2.95378 2.86102e-06C3.06279 2.86102e-06 3.17165 0.0415115 3.25493 0.124505L8.34277 5.19813C8.42306 5.27801 8.46811 5.38672 8.46811 5.49998C8.46811 5.61325 8.42293 5.72183 8.34277 5.80186Z" fill="#656D89"/>
            </svg>
            span  чтобы подробно ознакомится с проектом 
        .swiper.swiper-description
            // Additional required wrapper
            .pagination
            .swiper-wrapper
                // Slides
                .swiper-slide
                    .swiper-content
                        .information
                            picture
                                img(src="img/photos/desc1.webp", alt="Территория")
                            .info-item
                                div(class="info-item__header")
                                    h4(class="info-item__title") Территория
                                    .navigation-group
                                        .btn-navigation.btn-prev
                                        .btn-navigation.btn-next
                                p(class="info-item__text")
                                    | Жилой комплекс &quot;Яблоновский&quot; расположен на ул. Кобцевой Н.С. 
                                    | в пгт. Яблоновский. За пять минут пешком можно дойти до
                                    | муниципальной поликлиники, школы и детского садика.
                                    br
                                    br
                                    span(class="info-item__text_hidden")
                                        | Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
                        .photos
                            picture
                                img(src="img/photos/desc2.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc3.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc4.webp", alt="Территория")
                .swiper-slide
                    .swiper-content
                        .information
                            picture
                                img(src="img/photos/desc1.webp", alt="Территория")
                            .info-item
                                div(class="info-item__header")
                                    h4(class="info-item__title") Территория
                                    .navigation-group
                                        .btn-navigation.btn-prev
                                        .btn-navigation.btn-next
                                p(class="info-item__text")
                                    | Жилой комплекс &quot;Яблоновский&quot; расположен на ул. Кобцевой Н.С. 
                                    | в пгт. Яблоновский. За пять минут пешком можно дойти до
                                    | муниципальной поликлиники, школы и детского садика.
                                    br
                                    br
                                    span(class="info-item__text_hidden")
                                        | Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
                        .photos
                            picture
                                img(src="img/photos/desc2.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc3.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc4.webp", alt="Территория")
                .swiper-slide
                    .swiper-content
                        .information
                            picture
                                img(src="img/photos/desc1.webp", alt="Территория")
                            .info-item
                                div(class="info-item__header")
                                    h4(class="info-item__title") Территория
                                    .navigation-group
                                        .btn-navigation.btn-prev
                                        .btn-navigation.btn-next
                                p(class="info-item__text")
                                    | Жилой комплекс &quot;Яблоновский&quot; расположен на ул. Кобцевой Н.С. 
                                    | в пгт. Яблоновский. За пять минут пешком можно дойти до
                                    | муниципальной поликлиники, школы и детского садика.
                                    br
                                    br
                                    span(class="info-item__text_hidden")
                                        | Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
                        .photos
                            picture
                                img(src="img/photos/desc2.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc3.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc4.webp", alt="Территория")
                .swiper-slide
                    .swiper-content
                        .information
                            picture
                                img(src="img/photos/desc1.webp", alt="Территория")
                            .info-item
                                div(class="info-item__header")
                                    h4(class="info-item__title") Территория
                                    .navigation-group
                                        .btn-navigation.btn-prev
                                        .btn-navigation.btn-next
                                p(class="info-item__text")
                                    | Жилой комплекс &quot;Яблоновский&quot; расположен на ул. Кобцевой Н.С. 
                                    | в пгт. Яблоновский. За пять минут пешком можно дойти до
                                    | муниципальной поликлиники, школы и детского садика.
                                    br
                                    br
                                    | Этот жилой комплекс располагается в непосредственной близости от улицы Гагарина, где проходит абсолютное большинство маршрутов общественного транспорта, соответственно легко добраться во все части поселка и города Краснодар. Тут же располагается магазин «Магнит», «Магнит Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и другие предприятия сферы услуг.
                        .photos
                            picture
                                img(src="img/photos/desc2.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc3.webp", alt="Территория")
                            picture
                                img(src="img/photos/desc4.webp", alt="Территория")
            // If we need navigation buttons