


section(class="documentation page_mt100")
    .container
        h3(class="subtitle subtitle_small").element-animation Документация жилого 
            br
            | комплекса
        .swiper.mySwiper
            .swiper-wrapper
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Проектная декларация Литер 1 по ул. Кобцевой
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Разрешение на строительство ЖК
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Проект договора долевого участия &quot;ЖК Яблоновский&quot;
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Генеральный договор страхования ООО СО Купеческое
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Проектная декларация Литер 1 по ул. Кобцевой
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Разрешение на строительство ЖК
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Проект договора долевого участия &quot;ЖК Яблоновский&quot;
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Генеральный договор страхования ООО СО Купеческое
                div(class="doc_slide")
                    .document
                        img(src="img/docimage.svg", alt="Документ")
                        p(class="document__title") Генеральный договор страхования ООО СО Купеческое
            .doc-pagination

